h1{
    font-family: "PlayFair Display", serif;
    font-weight: 900;
    font-style: italic;
    font-size: 7rem;
}

h2{
    font-family: "PlayFair Display", serif;
    font-weight: 200;
    font-style: 2rem;
}